<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

	<title>Add Album</title>
</head>

<body>
	<div class="container">
		<h3>Albums Directory</h3>
		<hr>
		
		<p class="h4 mb-4">
			Save Album

		<form th:action="@{/showFormForAddDataFromDiscogs(discogsId=${id})}">
			<input name="discogsId" type="text" th:value="*{discogsId}" placeholder="Discogs release ID (optional)">
			<button type="submit" class="btn btn-info col-2">Submit</button>
		</form>

		</p>
		
		<form action="#" th:action="@{/add}"
						 th:object="${album}" method="POST">
						 
			<!-- Add hidden form field to handle the update -->
			<input type="hidden" th:field="*{id}"/>
			
			<input type="text" th:field="*{artist}"
					class="form-control mb-4 col-4" placeholder="Artist"/>
					
			<input type="text" th:field="*{title}"
					class="form-control mb-4 col-4" placeholder="Title"/>

			<p>Medium:
			<select name="medium">
				<option th:each="mediumOpt : ${T(com.shestee.albums.entity.enums.Medium).values()}"
						th:value="${mediumOpt}" th:text="${mediumOpt}" th:field="*{medium}"
						class="form-control mb-4 col-4">
				</option>
			</select></p>

			<p>Length type:
			<select name="lengthType">
				<option th:each="lengthOpt : ${T(com.shestee.albums.entity.enums.LengthType).values()}"
						th:value="${lengthOpt}" th:text="${lengthOpt}" th:field="*{lengthType}"
						class="form-control mb-4 col-4">
				</option>
			</select></p>

			<input type="text" th:field="*{genre}"
					class="form-control mb-4 col-4" placeholder="Genre"/>

			<input type="text" th:field="*{label}"
					class="form-control mb-4 col-4" placeholder="Label"/>

			<input type="text" th:field="*{catalogueNumber}"
					class="form-control mb-4 col-4" placeholder="Catalogue Number"/>

			<input type="text" th:field="*{year}"
					class="form-control mb-4 col-4" placeholder="Year"/>

			<input type="text" th:field="*{info}"
					class="form-control mb-4 col-4" placeholder="(additional info; max. 200 chars)">

			<input type="hidden" th:field="*{sheetAlbumId}"/>

			<button type="submit" class="btn btn-info col-2">Save</button>
			
		</form>
		
		<hr>
		<a th:href="@{/list}">Back to Albums List</a>
	</div>

</body>

</html>