<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>Album Directory</title>
</head>

<body>

<div class="container">
    <h3>Album Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/add}"
       class="btn btn-primary btn-small mb-3"
       onclick="if(!(confirm('Are you sure you want to add this album?'))) return false">
        Add Album
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th width="10">Id</th>
            <th width="200">Artist</th>
            <th width="200">Title</th>
            <th>Genre</th>
            <th>Medium</th>
            <th>Cat. No.</th>
            <th>Year</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text="${album.id}"/>
            <td th:text="${album.artist}"/>
            <td th:text="${album.title}"/>
            <td th:text="${album.genre}"/>
            <td th:text="${album.medium}"/>
            <td th:text="${album.catalogueNumber}"/>
            <td th:text="${album.year}"/>

            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>